* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;  /*=> 16px*/
  --body-bg-color: #FAF7FD;
}

body {
  height: 100vh;
  color: black;
  background: var(--body-bg-color);   
  font: 400 1.8rem/1 'Nunito Sans', sans-serif;
}
